# chap8_규칙 찾기

## 1712 손익분기점
> 19 17 2
import sys

sys.stdin.readline()

In [10]:
import sys

T = list(map(int,input().split()))

n = T[0]/(T[2]- T[1]) 
if n > 0 :
    print(int(n)+1)
else :
    print(-1)

1000 70 170
11

벌집

In [11]:
T = int(input())

for n in range(18259) :
    if (T >= 3*(n-2)*(n-1)+2 and T<=3*(n-1)*n+1) :
        print(n)
        
    elif T==1 :
        print(1)
        break

1
1

# 1011번 Fly me to the Alpha Centauri
>19 07 03

피라미드형 중첩수열로 풀이 : 1로 시작해서 속도를 올려도 결국 1로 낮춰야한다.

1 2 1 3개
1 2 3 2 1 5개
1 2 3 4 3 2 1 7개

In [9]:
def turn(n) :
    if n ==1 :
        return 1
    return n+turn(n-1)

3

> 1. 시간초과

In [16]:
import sys
T = int(sys.stdin.readline())

for i in range(T) : 
    k = list(map(int,sys.stdin.readline().split()))
    b = k[1]-k[0]
    print(fun(b))
    
def turn(n) :
    if n ==1 :
        return 1
    return n+turn(n-1)

def fun(b) :
    if b < 4 :
        return b
    n=2
    while True : 
        if turn(n)+turn(n-1) - b >= 0 :
            if turn(n-1)*2 -b >=0 :
                return 2*n-2
            else :
                return 2*n-1
            break ;
        n +=1

1
1 5
3

> 2. 정답 코드 왜 정답인가.....

In [2]:
Case = input()

x_to_y = [list(map(int, input().split(' '))) for _ in range(int(Case))]

def work(sp, ep):
    dist = ep - sp
    
    if(dist == 1):
        return 1
    elif(dist == 2):
        return 2
    
    n = 1
    
    while True :
        if((dist >= (n ** 2 - n + 1)) & (dist <= n ** 2)):
            return n * 2 - 1
        elif((dist > n**2) & (dist <= (n ** 2 + n))):
            return n * 2
        
        n += 1
        
for a, b in x_to_y:
    print(work(a, b))

1
1 9
5

> 3. 내풀이

In [4]:
# 위의 메모리 효율 증진을 위한 [[]for _ in range] 후 for 출력도 맘에 들고
# while (true) 이용 풀이도 좋았다.
# 결과적으로는 재귀가 내 풀이의 큰 문제였다. 
T = int(input())

def fun(b) :
    if b < 4 :
        return b
    n=2
    
    while(True):
        if((b >= (n ** 2 - n + 1)) & (b <= n ** 2)):
            return n * 2 - 1
        elif((b > n**2) & (b <= (n ** 2 + n))):
            return n * 2
        
        n += 1
        
for i in range(T) : 
    k = list(map(int,input().split()))
    b = k[1]-k[0]
    print(fun(b))

1
0 5
4

1193 지그재그 경로탐색

이와 같이 나열된 분수들을 
1/1 -> 1/2 -> 2/1 -> 3/1 -> 2/2 -> … 과 같은 지그재그 순서로 차례대로 1번, 2번, 3번, 4번, 5번, … 분수라고 하자.


X가 주어졌을 때, X번째 분수를 구하는 프로그램을 작성하시오.

In [28]:
T = int(input())

def groupfind(T) :
    for n in range(4473) :
        if (T > n*(n-1)/2 and T <=n*(n+1)/2) :
            return n
        
def findans(T) :
    findn = groupfind(T)
    k = int(T - findn*(findn-1)/2)
    if findn%2 == 1:
        y = 1 
        for i in range(k-1) :
            y += 1
            findn -=1
        return str(findn)+"/"+str(y)
        
    else :
        x = 1
        for i in range(k-1) :
            findn -=1
            x +=1
        return str(x)+"/"+str(findn)
                              
print(findans(T))

3
2/1

# 10250 ACM호텔

In [19]:
T = int(input())
for i in range(T) :
    inputinfo = list(map(int,input().split()))
    H = inputinfo[0]
    W = inputinfo[1]
    N = inputinfo[2]
    findw = N//H + 1
    findh = N%H
    if findh ==0 : 
        findh = H 
        findw -=1 
        
        
        
    print(findw +100*findh)

1
6 12 12
602

In [20]:
import sys

T = int(sys.stdin.readline())
for _ in range(T):
    H, W, N = map(int, sys.stdin.readline().split())
    N -= 1
    q = N //H +1
    r = N %H +1
    sys.stdout.write('{}{:0>2}'.format(r, q) +'\n')

ValueError: invalid literal for int() with base 10: ''

In [21]:
import sys

T = sys.stdin.readline()

## 2869 달팽이 
땅 위에 달팽이가 있다. 이 달팽이는 높이가 V미터인 나무 막대를 올라갈 것이다.

달팽이는 낮에 A미터 올라갈 수 있다. 하지만, 밤에 잠을 자는 동안 B미터 미끄러진다. 또, 정상에 올라간 후에는 미끄러지지 않는다.

달팽이가 나무 막대를 모두 올라가려면, 며칠이 걸리는지 구하는 프로그램을 작성하시오.
> 19 07 03

### 1. 시간초과
풀이를 증가 감소 증가 감소 하면서 풀이했더니 실패

In [6]:
import sys
T = list(map(int,input().split()))
def fun(T0,T1,T2) :
    cnt = 0
    sum1 = 0
    while (True) :
        cnt +=1
        sum1 += T0   
        if T2<=sum1 :
            return(cnt)
        sum1 -= T1
        
print(fun(T[0],T[1],T[2]))

2 1 5
4

### 2. 시간초과

한번에 수식으로 풀이하기로 함 마찬가지로 while 부등식의 도임임

In [7]:
import sys
T = list(map(int,input().split()))
def fun(T0,T1,T2) :
    n = 0
    while (True) :
        if (T0-T1)*(n-1) +T0 >=T2 :
            return n
        n +=1
        
print(fun(T[0],T[1],T[2]))

2 1 5
4

### 3. 시간초과 진짜 ;;; 등식만 씁

In [ ]:
A, B, V = [int(x) for x in input().split()]
 
day = 1
 
day += int((V-A)/(A-B))
if ((V-A)%(A-B)):
    day += 1
 
print(day)

# 2941 크로아티아 알파벳

# 2775 부녀회장이 될테야
> 19_06_27
1
1
1 4 10 20
1 3 6 10
1 2 3 4

재귀로 풀이

In [9]:
T = int(input())
for i in range(T) :
    k = input()
    n = input()
    li = [0]*n
    for j in list :
        [1][j] = j
        
def fun() :
    [n][k] = for i in range(k)

TypeError: 'list' object cannot be interpreted as an integer

## 6064 카잉달력
>19 07 03

## 1978 소수찾기 
> 19 07 03

주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.
풀이 :
1~1000까지 리스트 원소로 만들고 짝수 전멸, 모든 수 서로 나누어서 탐색

In [36]:
import sys
N = int(input())
num = sys.stdin.readline().split()
result=0
for i in num:
    c = 0
    for j in range(1,int(i)+1):
        if int(i) % j == 0:
            c+=1
    if c==2:
        result+=1
print(result)

5
1 99 8 7 6
[1, 6, 7, 8, 99]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## 2581 소수 간격 합

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

풀이 일일이 해준다. 다만 list에 소수를 추가하여 합을 구할수 있도록 한다.

In [43]:
M = int(input())
N = int(input())
longnum = [int(x) for x in range(M,N+1)]
emp = []*(M-N)
for i in longnum:
    c = 0
    for j in range(1,int(i)+1):
        if int(i) % j == 0:
            c+=1
    if c==2:
        emp.append(j)
if len(emp) == 0:
    print(-1)
else :
    print(sum(emp),emp[0],sep="\n")

64
65
-1

# 1929 소수구하기 에라토스테네스의 체
> 19 07 02
에라토스테네스의 체 : 범위에서 합성수를 지우는 방식으로 소수를 찾는 방법. 1. 1은 제거 2. 지워지지 않은 수 중 제일 작은 2를 소수로 채택하고, 나머지 2의 배수를 모두 지운다. 3. 지워지지 않은 수 중 제일 작은 3을 소수로 채택하고, 나머지 3의 배수를 모두 지운다. 4. 지워지지 않은 수 중 제일 작은 5를 소수로 채택하고, 나머지 5의 배수를 모두 지운다. 5. (반복)